@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@theme {
	--color-primary-50: #f4f7f9;
	--color-primary-100: #ebf0f4;
	--color-primary-200: #dae3eb;
	--color-primary-300: #c3d1de;
	--color-primary-400: #a9bcd0;
	--color-primary-500: #99aac4;
	--color-primary-600: #7c8caf;
	--color-primary-700: #6a7898;
	--color-primary-800: #57637c;
	--color-primary-900: #4a5365;
	--color-primary-950: #2b303b;
}
@layer base {
	html,
	body,
	#app {
		font-family: Figtree, monospace, Arial, Helvetica, sans-serif;
		scroll-behavior: smooth;
		@apply bg-primary-950 text-white;
	}

	h1 {
		@apply mb-4 text-4xl font-bold;
	}

	h2 {
		@apply mb-3 text-3xl font-semibold;
	}

	h3 {
		@apply mb-2 text-2xl font-semibold;
	}

	h4 {
		@apply mb-2 text-xl font-medium;
	}

	h5 {
		@apply mb-1 text-lg font-medium;
	}

	h6 {
		@apply mb-1 text-base font-medium;
	}

	p {
		@apply mb-1 leading-relaxed;
	}

	a {
		@apply text-primary-600 hover:text-primary-800 underline;
	}

	ul,
	ol {
		@apply mb-4 pl-5;
	}

	ul {
		@apply list-disc;
	}

	ol {
		@apply list-decimal;
	}

	li {
		@apply mb-1.5;
	}

	section {
		@apply flex h-max min-h-screen items-center justify-center;
	}

	section:nth-of-type(even) {
		@apply bg-black/60;
	}

	section:nth-of-type(odd) {
		@apply bg-black/40;
	}
}
