---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<section
		class="relative mt-[-4rem] bg-[url(../assets/background.jpg)] bg-cover bg-center"
	>
		<div class="absolute h-full w-full backdrop-blur-md backdrop-brightness-50">
		</div>
		<div class="z-1 flex flex-col items-center justify-center">
			<h1 class="mb-7 text-3xl sm:text-6xl lg:text-8xl">Hi, I am Benjamin!</h1>
			<p class="text-primary-500/80 w-1/2 text-center text-lg">
				I'm a full-stack developer specializing in creating elegant,
				high-performance digital experiences. I turn complex problems into clean
				and intuitive solutions.
			</p>
		</div>
	</section>
</Layout>
