---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import profileImage from "../assets/profile.jpeg";
---

<Layout>
	<section
		class="relative mt-[-4rem] bg-[url(../assets/background.jpg)] bg-cover bg-center"
	>
		<div class="absolute h-full w-full backdrop-blur-md backdrop-brightness-50">
		</div>
		<div class="z-1 flex flex-col items-center justify-center gap-4">
			<h1>Hi, I am Benjamin!</h1>
			<p class="text-primary-500/80 mx-12 text-center">
				Full-stack developer specializing in creating elegant, high-performance
				digital experiences.
			</p>
		</div>
	</section>
	<section id="about">
		<div
			class="flex max-w-9/12 flex-col items-center justify-between gap-12 md:flex-row md:gap-26"
		>
			<div class="flex flex-col justify-center gap-4 md:max-w-1/2 md:gap-4">
				<div class="flex flex-row justify-center gap-6 md:gap-12">
					<Image
						src={profileImage}
						alt="Profile picture showing me"
						class="h-24 w-24 rounded-3xl md:h-36 md:w-26 lg:h-48 lg:w-48"
					/>
					<div class="flex flex-col justify-center gap-1 md:gap-3">
						<h2 class="mb-0">Benjamin Edlinger</h2>
						<p class="text-primary-600">
							Developer | <span class="hidden md:inline-block"
								>Spillern,&nbsp;
							</span>Austria
						</p>
					</div>
				</div>
				<p>
					I'm a 19-year-old developer who brings innovative ideas to life with
					clean code and a user-focused mindset. I thrive on building
					applications that are not only functional and performant but also
					intuitive to use.
				</p>
			</div>
			<div>
				<h3>Key Achievements</h3>
				<ul>
					<li>
						<p>
							<span class="font-bold">Graduated with Distinction:</span> Completed
							my technical education with highest honors from the prestigious TGM
							Vienna.
						</p>
					</li>
					<li>
						<p>
							<span class="font-bold">3rd Place, Jugend Innovativ:</span> Awarded
							for my diploma project, sustAIanbleEducation, an AI-powered learning
							platform.
						</p>
					</li>
					<li>
						<p>
							<span class="font-bold">Academic Author:</span> Co-authored a research
							paper on our project's findings for the upcoming ICL 2025 conference.
						</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section id="projects">
		<h1>Hello, World</h1>
	</section>
	<section id="github">
		<h1>Hello, World</h1>
	</section>
</Layout>
