---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import SocialLinks from "../components/SocialLinks.astro";
---

<Layout>
	<section class="relative lg:grid lg:grid-cols-2 lg:gap-4">
		<div class="mx-12 flex flex-col justify-center">
			<h1 class="flex items-center text-left">
				Hi, I am Benjamin <Icon
					name="waving-hand"
					class="hidden md:mb-3 md:ml-3 md:inline-block"
					size="50"
				/>
			</h1>
			<p class="mb-3 text-left text-wrap">
				I'm an aspiring Information Technology professional from Austria,
				currently in my final year at TGM Vienna with a specialization in Media
				Technology. My passion lies in the entire development lifecycle, from
				conceptualizing and designing user-friendly interfaces to building
				robust software solutions. I'm particularly enthusiastic about web
				development and thrive on bringing innovative digital projects to life.
			</p>
			<SocialLinks />
		</div>
	</section>
</Layout>
