---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<section
		class="relative mt-[-4rem] bg-[url(../assets/background.jpg)] bg-cover bg-center"
	>
		<div class="absolute h-full w-full backdrop-blur-md backdrop-brightness-50">
		</div>
		<div class="z-1 flex flex-col items-center justify-center">
			<h1 class="mb-2 text-3xl sm:text-6xl lg:text-8xl">CREATE ANYTHING</h1>
			<p class="text-primary-500/40">WITH LOVE AND PRECISION</p>
		</div>
	</section>
	<section>
		<h1>test</h1>
	</section>
</Layout>
