---
import { Icon } from "astro-icon/components";
---

<header class="sticky top-0 z-10 h-16 w-full bg-transparent p-5 px-15 text-lg">
	<div class="flex flex-row items-center justify-end">
		<div class="relative select-none">
			<input id="menu-toggle" type="checkbox" class="peer hidden" />

			<label
				for="menu-toggle"
				class="hover:text-primary-800 hover:border-primary-800 border-primary-600 text-primary-500 flex cursor-pointer flex-row items-center gap-1 rounded-3xl border-3 p-2 no-underline"
			>
				<span class="pl-1.5">MENU</span><Icon name="dots-vertical" />
			</label>

			<div class="absolute hidden peer-checked:block">
				<div class="px-2 pt-2 pb-4">
					<ul class="list-none pl-0">
						<li><a href="/about" class="no-underline">About</a></li>
						<li><a href="/projects" class="no-underline">Projects</a></li>
						<li><a href="/github" class="no-underline">Github</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
