---
interface Props {
	age: number;
}
const { age = 0 } = Astro.props;
---

<section
	class="relative mt-[-4rem] bg-[url(../assets/background.jpg)] bg-cover bg-center"
>
	<div class="absolute h-full w-full backdrop-blur-md backdrop-brightness-50">
	</div>
	<div class="z-1 flex flex-col items-center justify-center">
		<h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl">
			Hi, I am Benjamin!
		</h1>
		<p class="text-primary-500/80 mx-2 text-center xl:max-w-7/12">
			I'm a {age}-year-old developer who brings innovative ideas to life with
			clean code and a user-focused mindset.
		</p>
	</div>
</section>
