---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SEO, type SEOProps } from "astro-seo";
import type { UI } from "../types";

interface Props {
	lang: string;
	title?: string;
	description?: string;
	header: UI["header"];
	footer: UI["footer"];
}
const {
	lang,
	title = "bedlinger",
	description = "This is my online portfolio",
	header,
	footer,
} = Astro.props;

const seo: SEOProps = {
	charset: "UTF-8",
	title: title,
	titleTemplate: "%s | Portfolio",
	description: description,
	extend: {
		meta: [
			{ name: "generator", content: Astro.generator },
			{ name: "viewport", content: "width=device-width" },
			{ name: "apple-mobile-web-app-title", content: "bedlinger | Portfolio" },
		],
		link: [
			{
				rel: "icon",
				type: "image/png",
				href: "/favicon-96x96.png",
				sizes: "96x96",
			},
			{
				rel: "icon",
				type: "image/svg+xml",
				href: "/favicon.svg",
			},
			{
				rel: "shortcut icon",
				href: "/favicon.ico",
			},
			{
				rel: "apple-touch-icon",
				sizes: "180x180",
				href: "/apple-touch-icon.png",
			},
			{
				rel: "manifest",
				href: "/site.webmanifest",
			},
			{
				rel: "sitemap",
				href: "/sitemap-index.xml",
			},
		],
	},
	openGraph: {
		basic: {
			title: "Portfolio of Benjamin Edlinger",
			type: "Website",
			image:
				"https://raw.githubusercontent.com/bedlinger/www/refs/heads/main/src/assets/logo.png",
			url: "https://bedlinger.at/",
		},
	},
};
---

<!doctype html>
<html lang={lang}>
	<head>
		<SEO {...seo} />
	</head>
	<body>
		<div class="relative flex min-h-screen flex-col">
			<Header header={header} />
			<main class="mt-[-4rem] flex-1">
				<slot />
			</main>
			<Footer footer={footer} />
		</div>
	</body>
</html>
