---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SEO, type SEOProps } from "astro-seo";
import { getRelativeLocaleUrl } from "astro:i18n";
import { de, en } from "../i18n";
import type { UI } from "../types";

interface Props {
	lang: UI["lang"];
	title: UI["title"];
	description: UI["description"];
	header: UI["header"];
	footer: UI["footer"];
}
const { lang, title, description, header, footer } = Astro.props;

const seo: SEOProps = {
	charset: "UTF-8",
	title: title,
	titleTemplate: "%s | Developer Portfolio",
	description: description,
	languageAlternates: [
		{
			href:
				lang == en.lang
					? getRelativeLocaleUrl(de.lang)
					: getRelativeLocaleUrl(en.lang),
			hrefLang: lang == en.lang ? de.lang : en.lang,
		},
	],
	openGraph: {
		basic: {
			title: "Portfolio Benjamin Edlinger",
			type: "website",
			image:
				"https://raw.githubusercontent.com/bedlinger/www/refs/heads/main/src/assets/logo.png",
			url: Astro.url.href,
		},
		optional: {
			locale: lang == en.lang ? "en_GB" : "de_AT",
			localeAlternate: [lang == en.lang ? "de_AT" : "en_GB"],
		},
		image: {
			alt: "Benjamin Edlinger Logo",
		},
	},
	extend: {
		meta: [
			{ name: "generator", content: Astro.generator },
			{ name: "viewport", content: "width=device-width, initial-scale=1.0" },
			{ name: "apple-mobile-web-app-title", content: "Benjamin Edlinger" },
		],
		link: [
			{
				rel: "icon",
				type: "image/png",
				href: "/favicon-96x96.png",
				sizes: "96x96",
			},
			{
				rel: "icon",
				type: "image/svg+xml",
				href: "/favicon.svg",
			},
			{
				rel: "shortcut icon",
				href: "/favicon.ico",
			},
			{
				rel: "apple-touch-icon",
				sizes: "180x180",
				href: "/apple-touch-icon.png",
			},
			{
				rel: "manifest",
				href: "/site.webmanifest",
			},
			{
				rel: "sitemap",
				href: "/sitemap-index.xml",
			},
		],
	},
};
---

<!doctype html>
<html lang={lang == en.lang ? "en-GB" : "de-AT"}>
	<head>
		<SEO {...seo} />
	</head>
	<body>
		<div class="relative flex min-h-screen flex-col">
			<Header header={header} />
			<main class="mt-[-4rem] flex-1">
				<slot />
			</main>
			<Footer footer={footer} />
		</div>
	</body>
</html>
