---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SEO, type SEOProps } from "astro-seo";

interface Props {
	lang: string;
	title?: string;
	description?: string;
}

const {
	lang,
	title = "bedlinger",
	description = "This is my online portfolio",
} = Astro.props;

const seo: SEOProps = {
	charset: "UTF-8",
	title: title,
	titleTemplate: "%s | My Portfolio site",
	description: description,
	extend: {
		meta: [
			{ name: "generator", content: Astro.generator },
			{ name: "viewport", content: "width=device-width" },
		],
		link: [
			{ rel: "icon", type: "image/svg+xml", href: "/favicon.ico" },
			{ rel: "sitemap", href: "/sitemap-index.xml" },
		],
	},
	openGraph: {
		basic: {
			title: "Portfolio of Benjamin Edlinger",
			type: "Website",
			image: "https://avatars.githubusercontent.com/u/98826378?v=4",
			url: "https://bedlinger.at/",
		},
	},
};
---

<!doctype html>
<html lang={lang}>
	<head>
		<SEO {...seo} />
	</head>
	<body>
		<div class="relative flex min-h-screen flex-col">
			<Header />
			<main class="mt-[-4rem] flex-1">
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
