---
import { SEO, type SEOProps } from "astro-seo";

const headItems: SEOProps = {
	charset: "UTF-8",
	title: "bedlinger",
	titleTemplate: "%s | My Portfolio site",
	description: "This is my online portfolio",
	extend: {
		meta: [
			{ name: "generator", content: Astro.generator },
			{ name: "viewport", content: "width=device-width" },
		],
		link: [
			{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" },
			{ rel: "sitemap", href: "/sitemap-index.xml" },
		],
	},
};
---

<!doctype html>
<html lang="en">
	<head>
		<SEO {...headItems} />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
